@use '../utils/colors' as c;
@use '../utils/shadows' as sh;
@use '../utils/extends' as *;


.details-box {
  @extend %content-box;
  padding-right: 0;
  padding-left: 0;
  width: 50rem;

  &__header {
    margin-bottom: 1rem;
    padding: 0 1.5rem;
  }
  
  &__heading {
    color: c.$gray-light-1;
    text-shadow: sh.$black-strong-small;
  }
  
  &__tab-container {
    max-height: 50rem;
    overflow-y: auto;
  }
  
  &__elevators-heading {
    color: c.$gray-light-2;
    text-shadow: sh.$black-normal-small;
    padding: 0 1.5rem;
  }
}
