@use '../utils/colors' as c;
@use '../utils/shadows' as sh;


.elevator-hall {
  $scale: 1;

  margin: 5rem 0;
  padding: 0 5rem;
  box-shadow: sh.$black-strong-medium;
  background-color: palegoldenrod;
  border-radius: 2rem;
  position: relative;
  overflow: hidden;

  &__wrapper {
    font-size: $scale * 4rem;
  }

  ul {
    list-style: none;
  }

  &__elevators {
    display: flex;
    gap: 8rem;
  }

  &__elevator-container {
    background-color: darken(palegoldenrod, 50%);
    box-shadow: inset 0 0 .5em rgba(c.$black, .5);
    border-radius: 1rem;
    padding: .35rem;
    width: 2em;
    position: relative;
  }

  &__floors {
    position: absolute;
    inset: 0;
  }

  &__floor {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(to top, c.$gray-dark-1 75%, transparent);
      height: .2em;
    }
  }
}
