@use './colors' as c;
@use './shadows' as sh;


%content-box {
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: sh.$black-normal-large;
  background-color: rgba(c.$gray-dark-4, .9);
  padding: 1.25rem 1.5rem;
}
