<article class="elevator-box">
  <div class="elevator-box__wrapper">
    <ul class="elevator-box__elevators">
      <li *ngFor="let elevator of elevatorService.elevatorsConfig; let i = index" class="elevator-box__elevator-container"
        [ngStyle]="styles.elevatorContainer[i]">
        <app-elevator [config]="elevator"></app-elevator>
      </li>
    </ul>

    <ul class="elevator-box__floors">
      <li *ngFor="let floor of elevatorService.floorsConfig; let i = index" class="elevator-box__floor"
        [ngStyle]="styles.floor[i]">
        <article class="elevator-box__floor-number">
          <h2>{{ floor.number }}</h2> 
          <h5>floor</h5>
        </article>
        <ul class="elevator-box__panels">
          <li *ngFor="let elevator of elevatorService.elevatorsConfig"   
              class="elevator-box__panel">
            <article *ngIf="elevator.minAvailableFloor <= maxFloorNum - i && maxFloorNum - i <= elevator.maxAvailableFloor"
                     [routerLink]="['panel', floor.number]"
                     class="mini-panel">
              <div class="mini-panel__inner">
                <header class="mini-panel__header"></header>
                <button class="mini-panel__button mini-panel__button--submit"></button>
              </div>
            </article>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</article>
