@use '../utils/mixins' as *;
@use '../utils/colors' as c;


.elevators {
  @include flex-center;
  background: radial-gradient(c.$gray-light-4, c.$gray-dark-2);
  background-attachment: fixed;
  
  .overlay {
    position: fixed;
    inset: 0;
    z-index: 10;
    @include flex-center;

    &__background {
      content: '';
      position: absolute;
      inset: 0;
      background-color: rgba(c.$black, .75);
      z-index: -1;
      transition: opacity .3s ease;
      cursor: pointer;
    }

    &__outlet {
      transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    &.hidden {
      pointer-events: none;

      .overlay {
        &__outlet {
          transform: scale(.5);
          opacity: .5;
        }

        &__background {
          opacity: 0;
          visibility: hidden;
        }
      }
    }
  }
}
