/* Global reset */
html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior: none;
  font-size: 1.6rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
  user-select: none;
  background-color: transparent;
}

svg {
  height: 1em;
  width: 1em;
}

label {
  cursor: pointer;
}
