@use '../../utils/mixins' as *;
@use '../../utils/extends' as *;
@use '../../utils/colors' as c;
@use '../../utils/gradients' as g;
@use '../../utils/shadows' as sh;


.floors-tab {
  &__floors-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    gap: 1rem;
    padding: 1.5rem;
  }

  &__settings {
    padding: 1rem 1.5rem;
  }

  &__settings-heading {
    color: c.$gray-light-1;
    text-shadow: sh.$black-strong-small;
  }

  &__settings-form {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__settings-list {
    list-style: none;
    display: flex;
    gap: 2rem;
  }

  &__settings-input {
    @extend %input-box;
    margin-right: 1rem;
  }

  &__settings-text {
    color: c.$gray-light-1;
    font-size: 1.8rem;
  }

  &__submit {
    @extend %normal-button;
  }
}

.floor-details {
  box-shadow: sh.$black-strong-small;
  background-color: rgba(c.$gray-dark-2, .5);
  border-radius: .5rem;
  gap: 1rem;
  overflow: hidden;
  align-items: center;
  display: flex;

  &__header {
    background: g.$primary;
    flex-basis: 5rem;
    align-self: stretch;
    @include flex-center;
  }

  &__number {
    text-align: center;

    h2 {
      margin-bottom: -.75rem;
      font-size: 2.4rem;
      color: c.$gray-dark-1;
    }

    h5 {
      font-size: .8rem;
      text-transform: uppercase;
      letter-spacing: -.5px;
    }
  }

  &__settings {
    flex-grow: 1;
  }

  &__settings-input {
    @extend %input-box;
    margin-right: .75rem;
  }

  &__settings-text {
    color: c.$gray-light-1;
    font-size: 1.4rem;
  }
}
