<article class="details-box">
  <header class="details-box__header">
    <h2 class="details-box__heading">
      Details
    </h2>
  </header>

  <menu class="details-box__menu">
    <li class="details-box__menu-item" 
        [ngClass]="{ active: activeTab === DetailsTab.ELEVATORS }"
        (click)="switchTab(DetailsTab.ELEVATORS)">
      Elevators
    </li>
    <li class="details-box__menu-item" 
        [ngClass]="{ active: activeTab === DetailsTab.FLOORS }"
        (click)="switchTab(DetailsTab.FLOORS)">
      Floors
    </li>
  </menu>

  <section class="details-box__tab-container" [ngSwitch]="activeTab">
    <app-elevators-tab *ngSwitchCase="DetailsTab.ELEVATORS"></app-elevators-tab>
    <app-floors-tab *ngSwitchCase="DetailsTab.FLOORS"></app-floors-tab>
  </section>
</article>
