<article class="details-box">
  <header class="details-box__header">
    <h2 class="details-box__heading">
      Details
    </h2>
  </header>

  <section class="details-box__elevators">
    <h3 class="details-box__elevators-heading">Elevator list</h3>
    <ul class="details-box__elevators-list">
      <li *ngFor="let elevator of elevatorService.elevators"
          class="details-box__elevators-item">
        <app-elevator-details 
          [elevator]="elevator"
        ></app-elevator-details>
      </li>
    </ul>
  </section>
</article>
