<script src="../../settings/details-panel/elevators-tab/elevator-details/elevator-details.component.ts"></script>
<article class="elevator"
         [ngStyle]="{ 'bottom': bottom + 'em' }">
  <section class="elevator__doors"
           [ngClass]="{ open:
              state === ElevatorState.IDLE ||
              state === ElevatorState.WAITING ||
              state === ElevatorState.OPEN_DOOR }">
    <div class="elevator__door elevator__door--left"
         [ngStyle]="{ 'transition-duration': timeService.convertDuration(toggleDoorDuration) + 's' }">
      <article class="elevator__id">
        <h2 class="elevator__id-code">{{ id }}</h2>
      </article>
    </div>
    <div class="elevator__door elevator__door--right"
         [ngStyle]="{ 'transition-duration': timeService.convertDuration(toggleDoorDuration) + 's' }"></div>
  </section>

  <section class="elevator__inside">
    <div class="elevator__wall elevator__wall--left"></div>
    <div class="elevator__wall elevator__wall--right"></div>
    <div class="elevator__wall elevator__wall--back"></div>
    <div class="elevator__floor"></div>
    <div class="elevator__roof">
      <div class="elevator__roof-lamp"></div>
    </div>
  </section>
</article>
