<article class="elevator-details">
  <header class="elevator-details__header">
    <section class="elevator-details__id">
      <h2>{{ id }}</h2>
      <h5>elevator</h5>
    </section>

    <div>
      <button class="elevator-details__button elevator-details__button--remove"
              (click)="removeElevator()">
        <svg class="elevator-details__icon">
          <use href="/assets/icons/icons.svg#trash"></use>
        </svg>
      </button>
      
      <h3 class="elevator-details__state">
        {{ elevator.component?.state }}
      </h3>
    </div>
  </header>

  <section class="elevator-details__stops">
    <ul class="elevator-details__stops-list">
      <li *ngFor="let nextFloor of elevator.component?.nextFloors || []"
          class="elevator-details__stop">
        <article class="elevator-stop">
          <p class="elevator-stop__number">
            {{ nextFloor.floorNum }}
          </p>

          <section class="elevator-stop__details">
            <p class="elevator-stop__detail">
              <span class="elevator-stop__detail-text">Entering</span>
              <span class="elevator-stop__detail-number">{{ nextFloor.details?.noEntering || 0 }}</span>
            </p>
            <p class="elevator-stop__detail">
              <span class="elevator-stop__detail-text">Waiting</span>
              <span class="elevator-stop__detail-number">{{ nextFloor.details?.noInside || 0 }}</span>
            </p>
            <p class="elevator-stop__detail">
              <span class="elevator-stop__detail-text">Leaving</span>
              <span class="elevator-stop__detail-number">{{ nextFloor.details?.noLeaving || 0 }}</span>
            </p>
          </section>
        </article>
      </li>
    </ul>
  </section>

  <form class="elevator-details__settings" (ngSubmit)="changeSettings(f)" #f="ngForm">
    <ul class="elevator-details__settings-list">
      <li class="elevator-details__settings-item">
        <input class="elevator-details__settings-input" 
               type="number" 
               name="min-floor" 
               id="min-floor" 
               [min]="defaultsConfig.minPossibleFloorNum" 
               [max]="defaultsConfig.maxPossibleFloorNum" 
               [(ngModel)]="elevator.config.minFloorNum" 
               required >
        <span class="elevator-details__settings-text">Min floor</span>
      </li>
      <li class="elevator-details__settings-item">
        <input class="elevator-details__settings-input" 
               type="number" 
               name="max-floor" 
               id="max-floor" 
               [min]="defaultsConfig.minPossibleFloorNum" 
               [max]="defaultsConfig.maxPossibleFloorNum" 
               [(ngModel)]="elevator.config.maxFloorNum" 
               required>
        <span class="elevator-details__settings-text">Max floor</span>
      </li>
      <li class="elevator-details__settings-item">
        <input class="elevator-details__settings-input" 
               type="number" 
               name="idle-floor" 
               id="idle-floor" 
               [min]="defaultsConfig.minPossibleFloorNum" 
               [max]="defaultsConfig.maxPossibleFloorNum" 
               [(ngModel)]="elevator.config.idleFloorNum" 
               required>
        <span class="elevator-details__settings-text">Idle floor</span>
      </li>
      <li class="elevator-details__settings-item">
        <input class="elevator-details__settings-input" 
               type="number" 
               name="max-load" 
               id="max-load" 
               min="1" 
               [max]="defaultsConfig.maxPossibleLoad" 
               [(ngModel)]="elevator.config.maxLoad" 
               required>
        <span class="elevator-details__settings-text">Max load</span>
      </li>
      <li class="elevator-details__settings-item">
        <input class="elevator-details__settings-input" 
               type="number" 
               name="speed" 
               id="speed" 
               [min]="defaultsConfig.minPossibleSpeed" 
               [max]="defaultsConfig.maxPossibleSpeed" 
               [(ngModel)]="elevator.config.speed" 
               step="0.05"
               required>
        <span class="elevator-details__settings-text">Speed</span>
      </li>
      <li class="elevator-details__settings-item">
        <input class="elevator-details__settings-input" 
               type="number" 
               name="stop-duration" 
               id="stop-duration"
               [min]="defaultsConfig.minPossibleStopDuration" 
               [max]="defaultsConfig.maxPossibleStopDuration" 
               [(ngModel)]="elevator.config.stopDuration"
               step="0.1"
               required>
        <span class="elevator-details__settings-text">Stop duration</span>
      </li>
      <li class="elevator-details__settings-item">
        <input class="elevator-details__settings-input" 
               type="number" 
               name="door-duration" 
               id="door-duration"
               [min]="defaultsConfig.minPossibleDoorToggleDuration" 
               [max]="defaultsConfig.maxPossibleDoorToggleDuration" 
               [(ngModel)]="elevator.config.toggleDoorDuration" 
               step="0.1"
               required>
        <span class="elevator-details__settings-text">Toggle door duration</span>
      </li>
    </ul>
  </form>
</article>
