@use "../../../../scss/utils/gradients" as g;
@use '../../../../scss/utils/colors' as c;


::ng-deep {
  .ngx-slider {
    margin-top: 2rem !important;
    width: calc(100% - 1rem) !important;
    padding-bottom: 2rem !important;
  }

  .ngx-slider-span {
    &.ngx-slider {
      &-bar {
        background: g.$gray-light !important;
      }

      &-pointer {
        transform: scale(0.5);
        background: g.$primary !important;

        &::after {
          width: 0.75rem !important;
          height: 0.75rem !important;
          left: 50% !important;
          top: 50% !important;
          transform: translate(-50%, -50%) !important;
        }
      }

      &-bubble {
        font-size: 1.4rem !important;
        top: 2rem !important;
        color: c.$gray-light-1 !important;

        &.ngx-slider-model-high,
        &.ngx-slider-ceil {
          margin-left: 1.25rem !important;
        }
      }
    }
  }
}
