<article class="options">
  <header class="options__header">
    <h2 class="options__heading">Options</h2>
  </header>

  <section class="options__buttons">
    <button class="options__button options__button--play"
            (click)="playAnimation()"
            [ngClass]="{ disabled: isPlayingAnimation }"
            [disabled]="isPlayingAnimation">
      <svg class="options__icon">
        <use href="/assets/icons/icons.svg#play"></use>
      </svg>
    </button>

    <button class="options__button options__button--pause"
            (click)="pauseAnimation()"
            [ngClass]="{ disabled: !isPlayingAnimation }"
            [disabled]="!isPlayingAnimation">
      <svg class="options__icon">
        <use href="/assets/icons/icons.svg#pause"></use>
      </svg>
    </button>
  </section>

  <div class="options__slider">
    <h3 class="options__slider-title">
      Time ratio
    </h3>
    <app-range-slider
      [min]="TimeService.MIN_TIME_MULTIPLIER"
      [max]="TimeService.MAX_TIME_MULTIPLIER"
      [step]=".05"
      [default]="timeService.timeRatio"
      (valueChange)="changeTimeRatio($event)"
    ></app-range-slider>
  </div>

  <div class="options__slider">
    <h3 class="options__slider-title">
      Scale
    </h3>
    <app-range-slider
      [min]="MIN_SCALE"
      [max]="MAX_SCALE"
      [step]="SCALE_STEP"
      [default]="1"
      (valueChange)="changeScale($event)"
    ></app-range-slider>
  </div>
</article>
