<main class="elevators">
  <app-elevators></app-elevators>

  <section class="overlay" [ngClass]="{ hidden: !outlet.isActivated }">
    <div class="overlay__outlet">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
    <div class="overlay__background" routerLink="/">
    </div>
  </section>

  <section class="settings">
    <button class="settings__button">
      <label for="settings-toggle" class="settings__button-label">
        <svg class="settings__button-icon">
          <use href="/assets/icons/icons.svg#gear"></use>
        </svg>
      </label>
    </button>

    <input type="checkbox" name="settings-toggle" id="settings-toggle" class="settings__checkbox" #checkbox (change)="uncheckOtherCheckboxes($event)">
    <section class="settings__container">
      <app-options></app-options>
    </section>
  </section>

  <section class="details">
    <button class="details__button">
      <label for="details-toggle" class="details__button-label">
        <svg class="details__button-icon">
          <use href="/assets/icons/icons.svg#bars"></use>
        </svg>
      </label>
    </button>

    <input type="checkbox" name="details-toggle" id="details-toggle" class="details__checkbox" #checkbox (change)="uncheckOtherCheckboxes($event)" checked>
    <section class="details__container">
      <app-details-panel></app-details-panel>
    </section>
  </section>
</main>
