<article class="floor-details">
  <header class="floor-details__header">
    <article class="floor-details__number">
      <h2>{{ floor.number }}</h2>
      <h5>Floor</h5>
    </article>
  </header>

  <section class="floor-details__settings">
    <input class="floor-details__settings-input" 
           type="number" 
           name="height" 
           id="floor-height" 
           [min]="elevatorService.minFloorHeight" 
           [max]="elevatorService.maxFloorHeight" 
           [(ngModel)]="floor.height" 
           step=".25"
           required
           (change)="updateHeight()">
        <span class="floor-details__settings-text">Height</span>
  </section>
</article>
